/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ---------------- Custom css -------------- */
.banner {
  position: relative;
  width: 1200px;
  overflow: hidden;
  /* 目前收起時會導致按鈕懸空 */
  transition-duration: 3s;

}

.banner.close,
.banner.closing {
  height: 80px;
}

.banner.open,
.banner.opening {
  height: 300px;
  top: 0;
}

/* 圖片展開時刪除top */
.img {
  position: absolute;
  top: 0;
}

.banner.close>a>.img,
.banner.closing>a>.img {
  top: -300px;
}

.banner.open>a>.img,
.banner.opening>a>.img {
  top: 0;
}

.btn {
  position: absolute;
  height: 40px;
  width: 60px;
  right: 0;
  bottom: 0;
  border-radius: 5px;
  background-color: black;
  color: white;
}